Flask==3.0.3
langchain==0.1.14
langchainhub==0.1.15
bs4==0.0.2
faiss-cpu==1.8.0
pypdf==4.2.0
rapidocr-onnxruntime==1.3.16
jq==1.7.0
unstructured==0.13.2
Markdown==3.6
IPython
neo4j
langchain-experimental